<aside class="sidebar" id="sidebar" th:fragment="e_sidebar">
    <div class="sidebar-user-info">
    <!--    <div><strong>김교직</strong> (STAFF001)</div>
        <div>학사운영팀</div>-->
      <!--  <div class="mt-2">
            <button class="user-btn" title="로그아웃">
                <i class="bi bi-box-arrow-right"></i> 로그아웃
            </button>
        </div>-->
    </div>
    <nav class="nav flex-column">
        <a class="nav-link" href="/employees/notice-management">공지사항관리</a>

        <a class="nav-link has-submenu" href="#" data-menu="역량"
        >핵심역량개발관리</a
        >
        <div class="submenu" id="submenu-역량" style="display: none">
            <a class="nav-link" href="/employees/core-diagnosis-cpt">핵심역량 대시보드</a>
            <a class="nav-link" href="/employees/core-empl-cpt">역량항목관리</a>
            <a class="nav-link" href="/employees/question-management">진단문항관리</a>
            <a class="nav-link" href="/employees/core-diagnosis-result">진단결과열람</a>
        </div>

        <a class="nav-link has-submenu" href="#" data-menu="비교과"
        >비교과프로그램관리</a
        >
        <div class="submenu" id="submenu-비교과" style="display: none">
            <a class="nav-link" href="/employees/programs">프로그램관리</a>
            <a class="nav-link" href="/employees/programs/applications">프로그램신청관리</a>
            <a class="nav-link" href="/employees/programs/completions">프로그램활동관리</a>
        </div>

        <a class="nav-link has-submenu" href="#" data-menu="상담">상담관리</a>
        <div class="submenu" id="submenu-상담" style="display: none">
            <!--<a class="nav-link" href="">상담사일정등록</a>-->
            <a class="nav-link" href="/employees/counselor-dashboard">상담예약관리</a>
            <a class="nav-link" href="/employees/counselor-results">상담결과관리</a>
        </div>

        <a class="nav-link has-submenu" href="#" data-menu="마일리지"
        >마일리지관리</a
        >
        <div class="submenu" id="submenu-마일리지" style="display: none">
            <a class="nav-link" href="/employee/mileage/dashboard">마일리지 대시보드</a>
            <a class="nav-link" href="/employee/mileage/payments">마일리지지급관리</a>
            <!--<a class="nav-link" href="/mileage/status">마일리지현황</a>-->
        </div>
    </nav>
</aside>